<section class="fade-in <%-isright ? " text-white" : "" %>" id="<%= id %>" <%-isright
            ? 'style= "background-color: rgb(80, 80, 80)"' : "" %>>
            <div class="container">
                <div class="row <%= isright? " flex-row-reverse": "" %>">
                    <div class="col-12 col-md-<%= imagecolumsize %> p-5">
                        <img class="img-thumbnail <%= isright? " from-right": "from-left" %> slide-in" src="
                        /assets/<%= imgtitle %>.jpg">
                    </div>
                    <div class="my-5 <%= isright? " from-left": "from-right" %> slide-in col-md-<%= 12 -
                            imagecolumsize%>
                            col-12 d-flex
                            align-items-center">
                            <div>
                                <h2 class="my-1">
                                    <%= title %>
                                </h2>
                                <p>
                                    <%- article %>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
</section>